*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{

  text-decoration: none !important;
  color:#000 !important
}

body{
/*E7F7F3*/
  background-color: #E7F7F3;
  color:#000;
}

.logo{

  font-family:Parisienne,'Times New Roman', Times, serif;

}

.heroImage{

 background: url("./hero-image-3.jpg")  center center/cover no-repeat;
 height:85vh;


}

.navbar{
  height:15vh;
  background-color: #F2E9EB;
  border-top: #E7F7F3 5px solid;
  display: flex !important;
  justify-content: center !important;
  align-items: center;
}

.order-button{

  padding: 1rem 2rem;
  background-color:#EBC999;
  border-radius: 10px;
}

.nav-container{
  width:85%;
  display: flex !important;
  justify-content: space-around !important;
  align-items: center;
  
}